<div id="footer">
    <div class="container" style="background-color: rgb(245, 245, 245);">
        <p style="text-align: center; margin-top: 20px;margin-bottom: 20px;">
            Copyright 2013 xinwang.net
        </p>
    </div>
</div>
<!-- js file 1st jquery then bootstrap -->
<script type='text/javascript' src='javascripts/jquery-1.10.2.min.js'></script>

<script type='text/javascript' src='javascripts/bootstrap.min.js'></script>

</body>
</html>