<!-- if you want menu fixed to top then add class  'navbar-fixed-top' to nav -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex8-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">纠结乎~</a>
    </div>

    <div class="collapse navbar-collapse navbar-ex8-collapse">
        <ul class="nav navbar-nav">
            <li class="active"><a href="/">事件</a></li>
            <li><a href="#about">主题</a></li>
            <li><a href="#contact">动态</a></li>
        </ul>

        <form class="navbar-form navbar-left" role="search" style="width:400px;">
            <div class="form-group">
                <input type="text" class="form-control input-sm " style="width:300px;" placeholder="输入你关心的事儿~">
            </div>
            <button type="submit" class="btn btn-sm btn-success">发现</button>
        </form>

        <ul class="nav navbar-nav navbar-right">
            <% if( typeof session.user === 'undefined' ) {%>
            <form class="navbar-form form-inline pull-right" action="/login" method="get">
                <button type="submit" class="btn btn-sm btn-primary">登陆</button>
                <span style="color:lightgray;"> &nbsp; or &nbsp;</span>
                <a href="/signup">注册</a>
            </form>
            <% } else { %>
                    <!--
                    <li class="active"><a href="#"><%= session.user.nick %></a></li>
                    -->

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= session.user.nick %> <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">我的主页</a></li>
                            <li><a href="#">私信</a></li>
                            <li><a href="#">设置</a></li>
                            <li><a href="/logout">退出</a></li>
                        </ul>
                    </li>
            <% } %>
        </ul>
    </div>


    </div>

</nav>
