<!-- header -->
<% include ../commons/header.ejs %>        <!-- 相对路径 -->


<!-- menu  -->

<% include ../commons/navigation.ejs %>        <!-- 相对路径 -->

<br/>
<br/>


<div class="container">

    <label> <input type="radio" name="eventtype"> &nbsp;对不起，我很内疚！</input></label>
    <label> <input type="radio" name="eventtype">&nbsp;我受伤了，心在滴血！</input></label>
    <label> <input type="radio" name="eventtype">&nbsp;小儿科，经过即经历！</input></label>



</div>



<!-- left  --><!-- right  -->

<!-- footer  -->

<!-- js  -->


<% include ../commons/footer.ejs %>        <!-- 相对路径 -->